@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

$lightgray:rgb(226, 226, 226);
$very-lightgray:rgb(240, 240, 240);
$lightBlue:#1A98FF;
$darkgray:#616161;

*,*::before,*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Montserrat";
}
a{
    text-decoration: none;
    color: inherit;
}

button
{
    background: none;
    border: none;
    outline: none;
    font-size: inherit;
    color: inherit;
}

.pageContent
{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;   
}

header
{
    height: 90px;
    width: 100%;
    box-shadow: 0px 7px 10px 1px rgba(211, 211, 211, 0.89);
    .header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 100%;
        max-width: 1300px;
        margin: auto;
    }
    .logo{
        display: flex;
        align-items: center;
        img{
            width: 30px;
            height: 30px;
            display: block;
        }
        p{
            font-size: 1.3rem;
            font-weight: 700;
            color: $lightBlue;
            letter-spacing: .2rem;
            margin-left: .5rem;
        }
    }
    ul{
        display: flex;
        li{
            margin: 0 1rem;
            a{
                font-size: 1rem;
                font-weight: 700;
                &:hover
                {
                    color: $lightBlue;
                }
            }
        }
    }
    @media screen and (max-width:500px) 
    {
        ul{
            display: none;
        }    
    }
}

.main-content
{
    width: 90%;
    max-width: 1300px;
    min-height: 450px;
    height: auto;
    border: 1px solid lightgray;
    margin: 100px auto 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.42);
    display: flex;
    justify-content: space-between;
    //overflow: hidden;

    @media screen and(max-width:1000px) {
        flex-direction: column;
        .input-area,.translate-area
        {
            width: 100%;
            min-height: 300px;
        }
        .translate-area
        {
            border-radius: 0 0 20px 20px;
        }
    }

}

.translate-area
{
    background: $very-lightgray;
    border-radius: 0 20px 20px 0;
}

.input-area,.translate-area
{
    width: 50%;
    height: auto;
    padding-bottom: 20px;
    .lang-section
    {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 2rem 2rem 0 2rem;
    }
    .switch-btn
    {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $very-lightgray;
        cursor: pointer;
        &:hover
        {
            background: $lightgray;
        }
        
        @keyframes animate-btn {
            from{
                transform: rotate(0deg);
            }to{
                transform: rotate(180deg);
            }
        }
        @keyframes animate-btn-color {
            from{
                background: $lightBlue;
            }to{
                background: $lightgray;
            }
        }

        &.active
        {
            animation: animate-btn .5s forwards , animate-btn-color .7s forwards;    
        }
    }
    .translation
    {
        color: $darkgray;
    }
    textarea,.translation
    {
        border: none;
        outline: none;
        resize: none;
        background: transparent;
        font-size: 2rem;
        font-weight: 600;
        margin: 2rem 0 0 0;
        padding: 0 1rem 0 2rem;
        width: 100%;
        min-height: 190px;
        height: 67%;
        max-height: 67%;
        &::-webkit-scrollbar {
        width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: darkgray;
            border-radius: 5px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
                background: $lightBlue;
        }
    }
    .translate-btn-section
    {
        width: 100%;
        height: 50px;
        //border: 1px solid red;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: $lightBlue;
            cursor: pointer;
        }
        p{
            font-weight: 800;
            color: $darkgray;
            span{
                color: $lightBlue;
            }
        }
    }
}

.lang-choice-section
{
    font-size: 1.1rem;
    display: flex;
    .select-lang-btn
    {
        height: 45px;
        width: 180px;
        border-radius: 22.5px;
        background: $lightgray;
        display: flex;
        align-items: center;
        padding: 0 5px;
        cursor: pointer;
        &:hover
        {
            background: rgb(196, 196, 196);
        }
        .lang-flag{
            height: 35px;
            min-height: 35px;
            width: 35px;
            min-width: 35px;
            border-radius: 50%;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            img{
                object-position: center;
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;   
            }
        }
        
        p{
            font-weight: 600;
            font-size: 1rem;
            margin-left: .6rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            width: 70%;
            max-width: 100px;
            text-align: left;
        }

        span
        {
            display: block;
            width: 25px;
            min-width: 25px;
            height: 15px;
            min-height: 15px;
            //border: 1px solid black;
            margin-right: 15px;
            position: relative;
            &::after
            {
                content: "";
                position: absolute;
                right: 0;
                height: 8px;
                width: 8px;
                border-bottom: 2px solid black;
                border-right: 2px solid black;
                transform: rotate(45deg);
            }   
        }
    }

    .recent-lang
    {
        margin: 0 0  0 1.5rem;
        color: rgb(139, 139, 139);
        font-weight: 600;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        max-width: 100px;
        &:hover
        {
            color: black;
        }
    }

    @media screen and(max-width:500px)
    {
        .recent-lang
        {
            display: none;
        }
    }
}



.select-lang-menu
{
    position: absolute;
    left: 2rem;
    top: 85px;
    width: 250px;
    z-index: 2;
    background: $lightgray;
    border-radius:15px;
    overflow: hidden;
    padding-bottom: 20px;
    form{
        padding: 10px;
    }
    input{
        width: 100%;
        height: 36px;
        border-radius: 18px;
        border: none;
        outline: none;
        padding: 18px;
        font-size: 1rem;
        font-weight: 500;
    }

    ul{
        width: 100%;
        max-height: 350px;
        min-height: 350px;
        overflow-y:scroll;
        &::-webkit-scrollbar {
        width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: darkgray;
            border-radius: 5px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
                background: #1A98FF;
        }

        li{
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            &:hover
            {
                background: lightgray;
            }
            span{
                display: block;
                height: 20px;
                min-height: 20px;
                width: 20px;
                min-width: 20px;
                border-radius: 50%;
                overflow: hidden;
                img
                {
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;   
                }
            }
            p{
                margin-left: .8rem;
                font-weight: 500;
                font-size: .8rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

.privacy
{
    display: flex;
    width: 90%;
    max-width: 1300px;
    margin: 30px auto 100px auto;
    p{
        font-weight: 600;
        color: $darkgray;
        margin-left: .5rem;
    }
}